/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Adicione este código no seu arquivo CSS global, como o src/index.css */

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Opera */
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none;  /* Firefox */
  }